.prefectures_area {
  background-color: gainsboro;
}

.wrapper {
    display: grid;
    grid-template-columns: 10vw 90vw;
}

.prefectures_area {
    height: 95vh;
    overflow: scroll;
}

.section_title {
    font-weight: bold;
}

.graph_area {
    height: 95vh;
    overflow: scroll;
}

.title {
    height: 5vh;
    background-color: rgb(70, 70, 91);
    color: white;
    font-size: 1.8rem;
}
