.prefectures_area {
    background-color: gainsboro;
    height: calc(100vh - (1.8rem * 1.5));
    overflow: scroll;
}

.section_title {
    font-weight: bold;
}

.graph_area {
    height: calc(100vh - (1.8rem * 1.5));
    overflow: scroll;
}

.wrapper {
    display: grid;
}

.title {
    background-color: rgb(70, 70, 91);
    color: white;
    height: calc(1.8rem * 1.5);
    font-size: 1.8rem;
}

@media screen and (max-width:480px) {
    .prefectures_area {
        height: calc((100vh - (1.6rem * 1.5)) / 2);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: scroll;
    }

    .section_title {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .graph_area {
        height: calc((100vh - (1.6rem * 1.5)) / 2);
        overflow: scroll;
    }

    .title {
        height: calc(1.6rem * 1.5);
        font-size: 1.6rem;
    }
}

@media screen and (min-width:480px) and (max-width:1024px) {
    .wrapper {
        grid-template-columns: 17vw 83vw;
    }
}

@media screen and (min-width:1024px) {
    .wrapper {
        grid-template-columns: 10vw 90vw;
    }
}